{% extends 'base.html.twig' %}

{% block title %}Contatos{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header d-flex">
        Contatos
        <div class="ml-auto">
            <a href="{{ path('tb_contatos _new') }}">
                <button type="button" class="btn btn-outline-success">
                    <span class="text-nowrap"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar Contatos</span>
                </button>
            </a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>CPF</th>
                    <th>Nome Completo</th>
                    th>Email</th>
                    <th>Telefone</th>
                    <
                </tr>
            </thead>
            <tbody>
            {% for tb_contato in tb_contatos  %}
                <tr>
                    <td>{{ tb_contato.cpf }}</td>
                    <td>{{ tb_contato.nome }}</td>
                    <td>{{ tb_contato.email }}</td>
                    <td>{{ tb_contato.telefone|price(2, ',', '.') }}</td>
                    <td>
                        <div class="d-flex">
                            <a href="{{ path('tb_contatos _edit', {'id': tb_contato.id}) }}"><i class="edit-icon fa fa-pencil" aria-hidden="true" title="Editar"></i></a>
                            {{ include('tb_contatos /_delete_form.html.twig') }}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Nenhum registro encontrado</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
