{% extends 'base.html.twig' %}

{% block title %}TbEnderecos{% endblock %}

{% block body %}
    <h1>TbEnderecos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Cod_endereco</th>
                <td>{{ tb_endereco.codEnderecos }}</td>
            </tr>
            <tr>
                <th>Quadra_endereco</th>
                <td>{{ tb_endereco.quadraEndereco }}</td>
            </tr>
            <tr>
                <th>Numero_endereco</th>
                <td>{{ tb_endereco.numeroEnderecos }}</td>
            </tr>
            <tr>
                <th>Observacao</th>
                <td>{{ tb_endereco.observacao }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tb_enderecos_index') }}">back to list</a>

    <a href="{{ path('tb_enderecos_edit', {'cod_endereco': tb_endereco.cod_endereco}) }}">edit</a>

    {{ include('tb_enderecos/_delete_form.html.twig') }}
{% endblock %}
